<!-------------------------------top nav--------------------------------->
<nav class="navbar fixed-top navbar-light bg-dark justify-content-between" style="opacity: 0.7">
  <a class="navbar-brand" href="/lobby">
    <img class="img-responsive" src="images/logo.png" style="max-width: 240px" />
  </a>
  <div class="dropdown">
    <h6 class="dropdown-toggle" data-toggle="dropdown" style="color: antiquewhite"><%= username %></h6>
    <div class="dropdown-menu">
      <a href="/logOut"> <h6 style="color: #00ace6; padding: 1px; margin-left: 20px">Sign Out</h6></a>
    </div>
  </div>
</nav>
<!-------------------------------top nav end--------------------------------->
